* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #FAFAF8;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    height: 80px;
    background-color: white;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

header > img {
    width: 50px;
}

header > h1 {
    font-weight: 400;
}

main {
    padding: 30px 30px 10px;
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
}

.add-ingredient-form {
    display: flex;
    justify-content: center;
    gap: 12px;
    height: 38px;
}

.add-ingredient-form > input {
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    padding: 9px 13px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    flex-grow: 1;
    min-width: 150px;
    max-width: 400px;
}

.add-ingredient-form > button {
    font-family: Inter, sans-serif;
    border-radius: 6px;
    border: none;
    background-color: #141413;
    color: #FAFAF8;
    width: 150px;
    font-size: 0.875rem;
    font-weight: 500;
}

.add-ingredient-form > button::before {
    content: "+";
    margin-right: 5px;
}

.ingredient-list {
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    font-family: Inter, sans-serif;
}

.ingredient-list > ul{
    text-align: left;
    list-style-position: outside;
    padding-left: 1rem;
    font-family: Inter, sans-serif;
}

.get-recipe-container {
    font-family: Inter, sans-serif;
    border-radius: 15px;
    border: none;
    background-color: #E0E0E0;
    display: flex;  
    align-items: center;
    gap: 20px; 
    justify-content: space-between; 
    padding: 0 1rem;
}

.get-recipe-container > div {
    flex: 1; 
    margin-right: 1rem;
}

ul {
    margin-left: 20px;
    margin-bottom: 45px;
}

ul > li {
    line-height: 2;
}

h3 {
    font-weight: 400; 
}

p {
    font-weight: 300;
    color: grey;
    font-size: 0.9rem;
}

.get-recipe-container > button {
    flex-shrink: 0;
    padding: 10px 16px;
    color: white;
    background-color: darkorange; 
    border: none;
    border-radius: 10px;
}

.suggested-recipe-container {
    color: #475467;
    line-height: 28px;
    font-size: 1.125rem;
    font-weight: 400;
}

.suggested-recipe-container ul li, .suggested-recipe-container ol li {
    margin-bottom: 8px;
}

